.App .weather-app-wrapper {
  margin: 50px auto;
  max-width: 800px;
}

@media (max-width: 991px) {
  .App .weather-app-wrapper {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .App .weather-app-wrapper {
    margin-top: 10px;
  }
}
