.CurrentState .current-icon img {
  margin: -5px auto -15px;
}

.CurrentState ul {
  text-align: center;
}

.CurrentState .description {
  font-size: 9px;
  margin: 0 auto;
  opacity: 0.6;
  text-align: center;
}

@media (max-width: 387px) {
  .CurrentState {
    margin-left: 10px;
  }
}
