.CurrentTemperature .current-temperature {
  color: #146ec5;
  font-size: 120px;
  line-height: 91px;
  margin-right: 3px;
  padding: 0;
  text-align: center;
}

.CurrentTemperature .temp-unit {
  color: #146ec5;
  font-size: 25px;
}
