.TempMaxAndMin .max-and-min {
  font-size: 20px;
  opacity: 0.45;
  padding: 0;
}

.TempMaxAndMin .current-temperature {
  color: var(--accent-color);
  font-size: 120px;
  line-height: 91px;
  padding: 0;
  text-align: center;
}

.TempMaxAndMin .temp-unit {
  color: rgba(0, 0, 0, 0.45);
  cursor: default;
  font-size: 25px;
  position: relative;
  top: 27px;
}

.TempMaxAndMin a {
  color: rgba(0, 0, 0, 0.45);
  text-decoration: none;
}

.TempMaxAndMin a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--accent-color);
}

.TempMaxAndMin a.true {
  color: var(--accent-color);
  cursor: default;
  opacity: 1;
  text-decoration: none;
}

@media (max-width: 575px) {
  .TempMaxAndMin .current-temperature {
    font-size: 100px;
  }

  .TempMaxAndMin .temp-unit {
    top: 25px;
  }
}

@media (max-width: 454px) {
  .TempMaxAndMin .current-temperature {
    font-size: 80px;
  }

  .TempMaxAndMin .temp-unit {
    font-size: 20px;
    top: 21px;
    left: -2px;
  }
}

@media (max-width: 400px) {
  .TempMaxAndMin .current-temperature {
    font-size: 60px;
  }

  .TempMaxAndMin .max-and-min {
    position: relative;
    top: 14px;
    font-size: 18px;
  }

  .TempMaxAndMin .temp-unit {
    font-size: 15px;
    top: 19px;
  }
}

@media (max-width: 346px) {
  .TempMaxAndMin .current-temperature {
    position: relative;
    left: 15px;
  }

  .TempMaxAndMin .max-and-min {
    font-size: 16px;
  }

  .TempMaxAndMin .temp-unit {
    font-size: 12px;
    top: 25px;
  }
}
