.Tomorrow h4 {
  margin: 0;
}

.Tomorrow .tomorrow-icon {
  font-size: 40px;
  margin: -40px -17px -20px -70px;
}

.Tomorrow .tomorrow-max {
  font-size: 42px;
  margin: -4px -45px 0 0;
}

.Tomorrow .tomorrow-min {
  margin: -5px auto 0;
  text-align: center;
}
