:root {
  --accent-color: #146ec5;
  --primary-color: #42a5f5;
  --secondary-color: #5a6275;
}

.Weather {
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 20px;
}

.Weather h1 {
  color: var(--primary-color);
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
  margin: -5px auto 0;
  padding: 0 10px 0 0;
  text-align: right;
}

.Weather h5 {
  color: var(--primary-color);
  font-weight: 400;
  padding-right: 10px;
  text-align: right;
}

.Weather ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Weather .current {
  margin-right: -40px;
  padding: 0;
}

.Weather .current-extra {
  color: var(--primary-color);
  margin-left: -20px;
  padding: 0;
}

.Weather .current-state {
  margin: 0 -60px;
  padding: 0;
}

.Weather .loader {
  margin: 30px auto;
  width: 100px;
}

.Weather .max-and-min {
  font-size: 20px;
  opacity: 0.45;
  padding: 0;
}

.Weather .tomorrow {
  border-left: 3px solid rgba(66, 165, 245, 0.25);
  color: var(--secondary-color);
  margin: 0 10px 0 20px;
  padding-left: 20px;
  padding-right: 0;
  text-align: center;
}

.Weather .updated {
  color: var(--primary-color);
  display: block;
  font-size: 14px;
  font-weight: 200;
  line-height: 1;
  padding-right: 10px;
  text-align: right;
}

.Weather input[type="search"] {
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  padding-left: 4px;
}

.Weather input[type="search"]:focus {
  border: 2px solid var(--primary-color);
}

.Weather #cur_loc_btn {
  background-color: rgba(66, 165, 245, 0.2);
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  color: var(--primary-color);
}

.Weather #cur_loc_btn:hover {
  border-color: #1e90e8;
  color: var(--accent-color);
}

.Weather .current-location {
  padding: 0;
}

.Weather .current-temperature {
  color: var(--accent-color);
  font-size: 120px;
  line-height: 91px;
  margin-right: 3px;
  padding: 0;
  text-align: center;
}

.Weather .temp-unit {
  color: rgba(0, 0, 0, 0.45);
  cursor: default;
  font-size: 25px;
}

.Weather a {
  color: rgba(0, 0, 0, 0.45);
  text-decoration: none;
}

.Weather a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--accent-color);
}

.Weather a.active {
  color: var(--accent-color);
  cursor: default;
  opacity: 1;
  text-decoration: none;
}
